.register_container {
  display: flex;
  flex-direction: column;
  font-family: var(--body-font);
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.register_header {
  text-align: center;
  font-size: var(--title-size);
  font-weight: var(--header-weight-size);
  margin-top: 10px;
  margin-bottom: 40px;
}

.register_form {
  width: 400px;
  max-width: 600px;
  /* height: 100vh; */
  gap: 40px;
  /* padding: 20px; */
}

.register_icon {
  color: var(--color-light-button);
}

.switch-to-login {
  text-align: center;
  color: #000;
}

.register_link {
  color: var(--color-light-button);
  text-decoration: none;
  font-weight: var(--header-weight-size);
  margin-left: 20px;
}
