.forgot-container {
  display: flex;
  flex-direction: column;
  font-family: var(--body-font);
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  margin-bottom: 30px;
  padding-bottom: 20px;
  min-height: 400px;
}

.forgot-header {
  text-align: center;
  font-size: var(--title-size);
  font-weight: var(--header-weight-size);
  color: #000;
  margin-bottom: 40px;
}

.forgot-form {
  max-width: 600px;
}

.forgot-resend-code {
  color: var(--color-disabled);
  float: right;
}

.forgot-resend-code:hover {
  color: var(--color-light-button);
  cursor: pointer;
}
