.memo-flash-container {
  font-family: var(--body-font);
  font-size: var(--body-size-bigger);
  text-align: justify;
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
  max-width: 500;
  margin: auto;
}

.fc-btn-prev,
.fc-btn-next {
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  user-select: none;
}

.fc-btn-prev {
  left: 0;
  transform: translate(-90%, -50%);
}

.fc-btn-next {
  right: 0;
  transform: translate(90%, -50%);
}

.memo-flash-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  perspective: 1000px; /* Tạo hiệu ứng 3D cho thẻ */
  position: relative; /* Để có thể căn vị trí cho MemoSpeaker */
}

.memo-flash-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  position: relative;
}

.memo-flash-front,
.memo-flash-back {
  position: absolute;
  width: 300px !important; /* Chiều rộng của thẻ */
  height: 400px !important; /* Chiều cao của thẻ */
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
}

/* Định dạng cho mặt trước của thẻ */
.memo-flash-front {
  background-color: var(--color-card-background);
  display: flex; /* Sử dụng flexbox để định dạng lại vị trí nội dung */
  flex-direction: column; /* Căn chỉnh theo chiều dọc */
  position: relative; /* Để có thể định vị icon bên trên */
  height: 100%; /* Đảm bảo mặt trước giữ chiều cao đầy đủ */
}

/* Định dạng cho icon của MemoSpeaker */
.memo-flash-icon {
  position: absolute; /* Đặt icon ở vị trí tuyệt đối */
  top: 10px; /* Khoảng cách từ trên xuống */
  right: 10px; /* Khoảng cách từ bên phải */
}

/* Định dạng cho mặt sau của thẻ */
.memo-flash-back {
  background-color: var(--color-card-background);
  transform: rotateY(180deg); /* Đặt mặt sau nằm úp lại */
  display: flex; /* Sử dụng flex để dễ dàng căn giữa nội dung */
  justify-content: center; /* Căn giữa nội dung theo chiều ngang */
  align-items: center; /* Căn giữa nội dung theo chiều dọc */
  height: 100%; /* Đảm bảo mặt sau giữ chiều cao đầy đủ */
}

/* Khi thẻ bị lật, xoay mặt thành hình */
.memo-flash-inner.flipped {
  transform: rotateY(180deg); /* Xoay thẻ để hiện mặt sau */
}

/* Phần trạng thái */
.memo-flash-status {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}
