.std-detail-container {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
  align-items: center;
  font-family: var(--body-font);
  font-size: var(--body-size);
  /* height: 100vh; */
  margin: -30px 12% 30px;
  padding-bottom: 20px;
}

.std-detail-flashcards-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: var(--logo-size);
  font-weight: var(--header-weight-size);
  margin-top: 20px;
  margin-bottom: 25px;
}

.std-fc-toggle-btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 12px;
}
