.setting_container {
  display: flex;
  flex-direction: row;
  font-family: var(--body-font);
  font-size: var(--body-size);
  /* height: 100vh; */
  margin: auto;
  text-align: justify;
  padding-bottom: 20px;
}

.setting-sidebar {
  display: flex;
  flex-direction: column;
  background: var(--color-light-background);
  width: 14%;
  height: auto;
}

.setting-title {
  font-size: var(--logo-size);
  font-weight: var(--header-weight-size);
  text-align: right;
  margin-bottom: 12%;
}

.setting-sidebar-item {
  margin: 5% 0;
  border: none;
  text-align: right;
  background: var(--color-light-background);
  font-size: 20px;
  cursor: pointer;
}

.setting-content {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 75%;
  justify-content: flex-start;
  margin-left: 5%;
  padding: 5%;
}

#setting-btn-signout {
  background: #fff;
  color: var(--color-error-button);
  border-radius: var(--big-btn-radius);
  border: 1px solid var(--color-error-button);
  font-size: 20px;
  font-weight: var(--header-weight-size);
  padding: 2.4%;
  width: 18%;
  align-self: flex-end;
  margin-bottom: 5%;
}

#setting-btn-signout:hover {
  background: var(--color-error-button-hover);
}

.setting-item {
  width: 100%;
  padding: 0 2%;
  align-items: center;
  margin-bottom: 5%;
}

.setting-item-title {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid var(--color-stroke);
  margin-bottom: 2%;
  padding-bottom: 1%;
}

.setting-item-title-text {
  flex: 1;
  font-size: 30px;
  font-weight: var(--header-weight-size);
}

.setting-email {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: space-between; /* Tạo khoảng cách giữa input và button */
}
