.login_container {
  display: flex;
  flex-direction: column;
  font-family: var(--body-font);
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.login_header {
  text-align: center;
  font-size: 24px;
  font-weight: var(--header-weight-size);
  color: #000;
  margin-bottom: 40px;
}

.login_form {
  width: 600px;
  max-width: 600px;
  /* padding: 20px; */
}

.login_icon {
  color: var(--color-light-button);
}

.login_form_forgot {
  color: var(--color-disabled);
  float: right;
}

.login_form_forgot:hover {
  color: var(--color-light-button);
}

.switch-to-register {
  text-align: center;
  color: #000;
}

.login_link {
  color: var(--color-light-button);
  text-decoration: none;
  font-weight: var(--header-weight-size);
  margin-left: 20px;
}
